.text {
  h1 {
    color: $parchment;
    font-family: "vollkorn";
    font-size: 48px;
    letter-spacing: -1px;
    margin: 0 0 0 -8px;
  }
  p {
    color: $parchment;
    font: 400 20px/30px "vollkorn";
    font-style: normal;
    font-style: italic;
    font-size: 28px;
    font-family: "gentium book basic";
  }
}
