$black:#191919;
$red:#db5439;
$red-light-1x:rgba(220, 84, 57, 0.5);
$red-light-2x:rgba(220, 84, 57, 0.25);
$white:#f5f3e8;
$yellow:#eebe6d;
$blue: #7fafc5;
$paper: #f3f7e9;
$green: #516548;
$peach: #fff8ee;
$pink: #fc83eb;
$orange: #ff7b4d;
$blue:#7fafc5;
$dark:#303540;
$green: #516548;
$parchment: #f8f5ef;

$primary: 'Raleway';
$secondary: 'Open Sans';
$third: 'roboto';
$fourth:'vollkorn';
$fifth: 'gentium book basic';
$seventh: 'Lato';
$sixth: 'Cormorant Garamond';